body {
	margin: 0px !important;
	overflow-y: hidden;
}
#flashContent {
	
}
#fb-root {
	overflow-y: hidden;
}
#tweet {
	position: absolute;
	z-index: 6;
}
#like {
	position: absolute;
	z-index: 5;
}
#big_like {
	position: absolute;
}
#spinner {
	margin: 150px 0;
}
#extra-content {
	position: absolute;
}
.twitter-follow-button {
	margin: 15px 0;
}
a.soundcloud-badge:hover {
	background-position: bottom left !important;
}
*html a.soundcloud-badge {
	background-image: none !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c)', sizingMethod='crop') !important;
}	
.soundcloud-badge {
	text-align: left; 
	display: block; 
	margin: 0 auto 4px auto; 
	width: 246px; 
	height: 27px; 
	font-size: 11px; 
	padding: 36px 0 0 104px; 
	background: transparent url(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c) top left no-repeat; 
	color: #ffffff; 
	text-decoration: none; 
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
	line-height: 1.3em; 
	outline: 0;			
}
#soundcloud-badge-inner {
	display: block; 
	width: 230px; 
	white-space: nowrap; 
	height: 20px; 
	margin: 0 0 0 0; 
	overflow: hidden; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis;			
}
#downloader-frame {
	visibility: hidden;
	height: 0px;
}
#shows {
	font-family: Arial;
	color: #5E5751;
	font-size: 13px;
	position: relative;
	line-height: 18px;
	margin-top: 5px;
}
.show {
	margin: 5px 15px;
}
#shows-header, #posts-header {
	margin-bottom: 10px;
}
#flash {
	position: absolute;
	top: 100px;
}
#notice {
	position: absolute;
	top: 0px;
	left: 3px;
}
#missions {
	position: absolute;
	top: 15px;
	left: 3px;
}
#audio {
	width: 400px;
	height: 20px;
}
.fb-post {
	margin: 15px 0;
	padding: 0 0 10px 0;
}
.fb-post a {
	text-decoration: none;
	color: #3B5998;
}
.post-from, .post-message {
	font-size: 11px;
	line-height: 16px;
}
.post-caption {
	font-size: 11px;
}
.post-name {
	margin: 10px 0 0 0;
	display: block;
}
.post-line {
	color: #E9E9E9;
}
.post-footer {
	display: block;
	margin-top: 8px;
	height: 20px;
}
.post-icon {
	float: left;
	margin: 3px 8px 2px 0;
}
.post-like {
	width: 100px;
	float: left;
}
#player {
	font-family: Arial, Helvetica;
}
#player_bg {
	background-image: url('../images/html5/player_bg.png');
	background-repeat: no-repeat;
	position: relative;
	height: 430px;
	width: 512px;
}
.song {
	background-image: url('../images/html5/song_bg.png');
	background-repeat: no-repeat;
	height: 41px;
	width: 430px;
	margin: 5px 0 0 19px;
}
.song:hover {
	/* background-color: rgba(43, 240, 236, 0.5); */
	background-image: url('../images/html5/song_bg_hover_2.png');	
	cursor: pointer;
}
.song_title {
	font-size: 13px;
	color: #5E5751;
	text-align: left;
	line-height: 20px;
	float: left;
	width: 170px;
}
.song_stats {
	float: left;
	width: 51px;
	height: 38px;
	margin-top: 8px;
	color: #5E5751;
}
.song_btns {
	float: left;
	width: 136px;
	margin-top: 4px;
}
#top_player_wrapper {
	display: block;
	height: 119px;
	width: 510px;
}
#top_player {
	background-image: url('../images/html5/top_player_bg.png');
	margin: 10px 0 0 19px;
	float: left;
	height: 109px;
	width: 474px;
}
#songlist {
	margin-top: 20px;
	width: 450px;
	float: left;
}
.audio_tag {
	display: none;
}
#top_pic {
	background-image: url('../images/html5/player_pic.png');
	float: left;
	width: 105px;
	height: 101px;
	margin: -1px 0 0 8px;
}
#top_pic_inner {
	width: 90px;
	height: 89px;
	margin: 6px 0 0 8px;
}
#play_btn_wrapper {
	float: left;
	width: 55px;
	height: 50px;
	overflow: hidden;
	margin: 25px 0 0 0px;
}
#play_btn {
	background-image: url('../images/html5/play_btns.png');
	height: 118px;
	width: 55px;
	margin-top: -5px;
}
#play_btn:hover {
	margin-top: -63px;
}
#pause_btn {
	background-image: url('../images/html5/pause_btns.png');
	display: none;
	height: 118px;
	width: 57px;
	margin: -9px 0 0 -5px;
}
#pause_btn:hover {
	margin: -63px 0 0 -5px;
}
#player_items {
	float: left;
}
#top_text {
	font-size: 15px;
	height: 20px;
	width: 272px;
	color: #5E5751;
	margin: 26px 0 0 7px;
}
#top_title {
	float: left;
	width: 240px;
}
#song_bar {
	background-image: url('../images/html5/song_loader_bar.png');
	height: 10px;
	width: 277px;
	margin: 3px 0 0 7px;
}
#top_timer {
	float: right;
	height: 40px;
	width: 23px;
}
#top_buttons {
	float: left;
	clear: both;
	height: 35px;
	width: 300px;
}
#notice_btn_wrapper {
	width: 180px;
	height: 33px;
	overflow: hidden;
	float: left;
	margin: 12px 6px 0 0;
}
#download_all_btn {
	background-image: url('../images/html5/download_all_btns_pink.png');
	width: 132px;
	height: 75px;
	float: left;
	display: none;
	margin: -5px 0 0 -2px;
}
#download_all_btn:hover {
	margin: -39px 0 0 -2px;
}
#download_song_btn {
	background-image: url('../images/html5/download_btns_pink.png');
	width: 99px;
	height: 88px;
	float: left;
	display: none;
	margin: -7px 0 0 -7px;
}
#download_song_btn:hover {
	margin: -43px 0 0 -7px;	
}
#download_instrumentals_btn {
	background-image: url('../images/html5/download_instrumentals_btns.png');
	width: 158px;
	height: 73px;
	float: left;
	display: none;
	margin: -5px 0 0 -2px;
}
#download_instrumentals_btn:hover {
	margin: -38px 0 0 -2px;
}
#add_app_btn {
	background-image: url('../images/html5/add_app_btns_pink.png');
	width: 85;
	height: 71px;
	float: left;
	display: none;
	margin: -4px 0 0 0;
}
#add_app_btn:hover {
	margin: -37px 0 0 0;
}
#download_btn_wrapper {
	width: 86px;
	height: 35px;	
	overflow: hidden;
	float: left;
	margin-left: -4px;
}
#download_btn {
	background-image: url('../images/html5/download_btns.png');
	margin-top: -4px;
	width: 86px;
	height: 74px;
	float: left;
}
#download_btn:hover {
	margin: -36px 0 0 0px;
}
#buy_btn_wrapper {
	width: 60px;
	height: 35px;
	margin: -2px 0 0 -7px;
	float: left;
	overflow: hidden;
}
#buy_btn {
	background-image: url('../images/html5/buy_btns.png');
	margin-top: -3px;
	width: 60px;
	height: 74px;
	float: left;
}
#buy_btn:hover {
	margin-top: -35px;
}
#scrollers {
	float: left;
	width: 44px;
	margin: 20px 0 0 5px;
}
#scroll_up_wrapper, #scroll_down_wrapper {
	height: 39px;
	width: 44px;
	overflow: hidden;
}
#scroll_down_wrapper {
	margin-top: 110px;
}
#scroll_up {
	background-image: url('../images/html5/scroll_up.png');
	height: 80px;
	width: 44px;
	margin-top: -3px;
}
#scroll_up:hover {
	margin-top: -35px;
}
#scroll_down {
	background-image: url('../images/html5/scroll_down.png');
	height: 80px;
	width: 44px;
	margin-top: -3px;
}
#scroll_down:hover {
	margin-top: -37px;
}
#top_like {
	height: 35px;
	float: left;
	margin: 6px 0 0 0;
}
.song_stats div {
	float: right;
	clear: both;
	line-height: 13px;
	font-size: 11px;
}
#banner_pic {
	border: 1px solid #B6AB84;
	border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 8px 0 0 2px;
	width: 506px;
}
#progress_label {
	font-family: Arial, Helvetica, Verdana;
	color: #5E5751;
	float: left;
	font-size: 11px;
	margin: 50px 0 0 0;
}
#progress_bg {
	background-image: url('../images/html5/progress_bar_blank_segmented.png');
	height: 89px;
	width: 362px;	
	float: left;
	margin: 0 0 0 10px;
	overflow: hidden;
}
#progress_bar {
	float: left;
	margin: 0 0 0 0;
}
#progress_tip {
	font-family: Arial, Helvetica, Verdana;
	color: #5E5751;
	float: left;
	font-size: 10px;
	margin: -22px 0 0 0;
}
.play_prompt {
	font-family: Arial, Helvetica, Verdana;
	color: #5E5751;
	float: left;
	font-size: 11px;
	margin: 4px 0 0 10px;
	width: 50px;
	display: none;
	text-align: right;
}
#notice_bg {
	background-image: url('../images/html5/notice_bar_blank.png');
	background-repeat: no-repeat;
	height: 53px;
	width: 512px;
	float: left;
}
#notice_title, #notice_text {
	float: left;
	font-family: Arial, Helvetica, Verdana;
	color: #5E5751;
	font-size: 14px;
}
#notice_title {
	font-weight: normal;
	margin: 20px 5px 0 15px;
}
#notice_text {
	margin: 10px 0 0 0;
}
.hidden {
	display: none;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget {
	left: -300px !important;
}
#song_play_btn_over {
	position: absolute;
	display: none;
	z-index: 5;
}
.song_listing {
	float: left;
	width: 230px;
	margin: 10px 0 0 12px;
}
.song_download_url {
	display: none;
}
.song_sc_id {
	display: none;
}
#download_song_btn {
	display: none;
}