body {
	margin: 0px;
	overflow-y: hidden;
}
#flashContent {
	
}
#fb-root {
	overflow-y: hidden;
}
#tweet {
	position: absolute;
	z-index: 6;
}
#like {
	position: absolute;
	z-index: 5;
}
#big_like {
	position: absolute;
}
#spinner {
	margin: 150px 0;
}
#extra-content {
	position: absolute;
}
.twitter-follow-button {
	margin: 15px 0;
}
a.soundcloud-badge:hover {
	background-position: bottom left !important;
}
*html a.soundcloud-badge {
	background-image: none !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c)', sizingMethod='crop') !important;
}	
.soundcloud-badge {
	text-align: left; 
	display: block; 
	margin: 0 auto 4px auto; 
	width: 246px; 
	height: 27px; 
	font-size: 11px; 
	padding: 36px 0 0 104px; 
	background: transparent url(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c) top left no-repeat; 
	color: #ffffff; 
	text-decoration: none; 
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
	line-height: 1.3em; 
	outline: 0;			
}
#soundcloud-badge-inner {
	display: block; 
	width: 230px; 
	white-space: nowrap; 
	height: 20px; 
	margin: 0 0 0 0; 
	overflow: hidden; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis;			
}
#downloader-frame {
	visibility: hidden;
	height: 0px;
}
#shows {
	font-family: Arial;
	color: #5E5751;
	font-size: 13px;
	position: relative;
	line-height: 18px;
	margin-top: 5px;
}
.show {
	margin: 5px 15px;
}
#shows-header, #posts-header {
	margin-bottom: 10px;
}
#flash {
	position: absolute;
	top: 0px;
}
#audio {
	width: 400px;
	height: 20px;
}
.fb-post {
	margin: 15px 0;
	padding: 0 0 10px 0;
}
.fb-post a {
	text-decoration: none;
	color: #3B5998;
}
.post-from, .post-message {
	font-size: 11px;
	line-height: 16px;
}
.post-caption {
	font-size: 11px;
}
.post-name {
	margin: 10px 0 0 0;
	display: block;
}
.post-line {
	color: #E9E9E9;
}
.post-footer {
	display: block;
	margin-top: 8px;
	height: 20px;
}
.post-icon {
	float: left;
	margin: 3px 8px 2px 0;
}
.post-like {
	width: 100px;
	float: left;
}