body {
	margin: 0px !important;
	overflow-y: hidden;
}
#flashContent {
	
}
#fb-root {
	overflow-y: hidden;
}
#tweet {
	position: absolute;
	z-index: 6;
}
#like {
	position: absolute;
	z-index: 5;
}
#big_like {
	position: absolute;
}
#spinner {
	margin: 150px 0;
}
#extra-content {
	position: absolute;
}
.twitter-follow-button {
	margin: 15px 0;
}
a.soundcloud-badge:hover {
	background-position: bottom left !important;
}
*html a.soundcloud-badge {
	background-image: none !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c)', sizingMethod='crop') !important;
}	
.soundcloud-badge {
	text-align: left; 
	display: block; 
	margin: 0 auto 4px auto; 
	width: 246px; 
	height: 27px; 
	font-size: 11px; 
	padding: 36px 0 0 104px; 
	background: transparent url(http://a1.sndcdn.com/images/badges/fmonsc/horizontal/dark-orange.png?6485e1c) top left no-repeat; 
	color: #ffffff; 
	text-decoration: none; 
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
	line-height: 1.3em; 
	outline: 0;			
}
#soundcloud-badge-inner {
	display: block; 
	width: 230px; 
	white-space: nowrap; 
	height: 20px; 
	margin: 0 0 0 0; 
	overflow: hidden; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis;			
}
#downloader-frame {
	visibility: hidden;
	height: 0px;
}
#shows {
	font-family: Arial;
	color: #5E5751;
	font-size: 13px;
	position: relative;
	line-height: 18px;
	margin-top: 5px;
}
.show {
	margin: 5px 15px;
}
#shows-header, #posts-header {
	margin-bottom: 10px;
}
#flash {
	position: absolute;
	top: 0px;
}
#audio {
	width: 400px;
	height: 20px;
}
.fb-post {
	margin: 15px 0;
	padding: 0 0 10px 0;
}
.fb-post a {
	text-decoration: none;
	color: #3B5998;
}
.post-from, .post-message {
	font-size: 11px;
	line-height: 16px;
}
.post-caption {
	font-size: 11px;
}
.post-name {
	margin: 10px 0 0 0;
	display: block;
}
.post-line {
	color: #E9E9E9;
}
.post-footer {
	display: block;
	margin-top: 8px;
	height: 20px;
}
.post-icon {
	float: left;
	margin: 3px 8px 2px 0;
}
.post-like {
	width: 100px;
	float: left;
}
#player {
	font-family: Arial, Helvetica;
}
#player_bg {
	background-image: url('../images/html5/player_bg.png');
	background-repeat: no-repeat;
	position: relative;
	height: 430px;
	width: 512px;
}
.song {
	background-image: url('../images/html5/song_bg.png');
	background-repeat: no-repeat;
	height: 41px;
	width: 547px;
	margin: 5px 0 0 19px;
}
.song:hover {
	background-color: rgba(255, 0, 0, 0.5);
}
.song_title {
	font-size: 13px;
	color: #5E5751;
	text-align: left;
	line-height: 41px;
	margin: 0 0 0 12px;
}
#top_player_wrapper {
	display: block;
	height: 119px;
	width: 510px;
}
#top_player {
	background-image: url('../images/html5/top_player_bg.png');
	margin: 10px 0 0 19px;
	float: left;
	height: 109px;
	width: 474px;
}
#songlist {
	margin-top: 20px;
	width: 450px;
	float: left;
}
.audio_tag {
	display: none;
}
#top_pic {
	background-image: url('../images/html5/player_pic.png');
	float: left;
	width: 105px;
	height: 101px;
	margin: -1px 0 0 8px;
}
#play_btn_wrapper {
	float: left;
	width: 55px;
	height: 50px;
	overflow: hidden;
	margin: 25px 0 0 4px;
}
#play_btn {
	background-image: url('../images/html5/play_btns.png');
	height: 118px;
	width: 55px;
	margin-top: -5px;
}
#play_btn:hover {
	margin-top: -63px;
}
#pause_btn {
	background-image: url('../images/html5/pause_btns.png');
	display: none;
	height: 118px;
	width: 57px;
	margin: -9px 0 0 -3px;
}
#pause_btn:hover {
	margin: -62px 0 0 -3px;
}
#player_items {
	float: left;
}
#top_text {
	font-size: 15px;
	height: 20px;
	width: 272px;
	color: #5E5751;
	margin: 26px 0 0 4px;
}
#top_title {
	float: left;
	width: 212px;
}
#song_bar {
	background-image: url('../images/html5/song_loader_bar.png');
	height: 10px;
	width: 277px;
	margin: 3px 0 0 3px;
}
#top_timer {
	float: right;
	height: 40px;
	width: 60px;
}
#top_buttons {
	float: left;
	clear: both;
}
.download_btn_wrapper {
	width: 86px;
	height: 35px;	
	overflow: hidden;
	float: left;
}
.download_btn {
	background-image: url('../images/html5/download_btns.png');
	margin-top: -3px;
	width: 86px;
	height: 35px;
}
.download_btn:hover {
	margin-top: -41px;
}
.buy_btn_wrapper {
	width: 60px;
	height: 35px;
	margin-left: -4px;
	float: left;
	overflow: hidden;
}
.buy_btn {
	background-image: url('../images/html5/buy_btns.png');
	margin-top: -3px;
	width: 60px;
	height: 74px;
}
.buy_btn:hover {
	margin-top: -41px;
}
#scrollers {
	float: left;
	width: 44px;
	margin-left: 5px;
}
#scroll_up_wrapper, #scroll_down_wrapper {
	height: 40px;
	width: 44px;
	overflow: hidden;
}
#scroll_down_wrapper {
	margin-top: 200px;
}
#scroll_up {
	background-image: url('../images/html5/scroll_up.png');
	height: 40px;
	width: 44px;
}
#scroll_up:hover {
	margin-top: -40px;
}
#scroll_down {
	background-image: url('../images/html5/scroll_down.png');
	height: 40px;
	width: 44px;
}
#scroll_down:hover {
	margin-top: -40px;
}